@inherits LayoutComponentBase

<div class="d-flex h-100">

    <SideBar />

    <div class="flex-grow-1 d-flex flex-column">

        <TopNav />

        <div class="content-area p-4">
            @Body
        </div>

    </div>

</div>
